.label {
  margin-bottom: 8px;
  color: var(--mantine-color-black-600-text);
}

.input {
  border-color: var(--mantine-color-black-100-1);
  color: var(--mantine-color-black-600-text);
  caret-color: var(--mantine-color-blue-600-text);

  &::placeholder {
    color: var(--mantine-color-black-300-text);
  }

  &:hover,
  &:focus {
    border-color: var(--mantine-color-blue-600-1);
  }
}

.animatedInput {
  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    border-color: var(--mantine-color-blue-600-1);
  }
}

.inputError {
  border-color: var(--mantine-color-red-6) !important;
}

.error {
  color: var(--mantine-color-red-6);
}
