.image {
  border-radius: 8px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.fixed {
  width: 144px;
  flex-shrink: 0;
}

.button {
  all: unset;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.remove {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 4px;
}
