.button {
  all: unset;
  transition: color 150ms ease-in-out;
  cursor: pointer;
  color: var(--mantine-color-black-400-text);

  &:hover {
    color: var(--mantine-color-blue-600-text);
  }
}

.active {
  color: var(--mantine-color-blue-600-text);
}

.cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -10px;
  right: -6px;
}
